{% extends 'topic/layout.html' %}

{% block title%}
    <h1>Create topic</h1>
    <p>Create topic</p>
{%endblock%}


{% block content %}
<form method="post">
    {% csrf token %}

    {{ form.title }}
    {{ form.text }}


</form>
{% endblock %}
