{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="{% static 'topic/css/dashboard.css' %}">

</head>
<body>
    <aside>
        <h3>
            Menu
        </h3>
        <ul>
            <a href=""><li>Top threads</li>
            <a href=""><li>Categories</li>
            <a href="{%url 'create' %}"><li>Start topic</li>
        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>